.body {
  flex: 0.8;
  background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
  height: 100vh;
  color: white;
  padding: 30px;
  width: 100%;
  overflow-y: overlay;
  background-color: rgb(91, 87, 115);
}

.body::-webkit-scrollbar {
  display: none;
}

.body__info {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

.body__info > img {
  height: 15vw;
  margin: 0 20px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.body__infoText {
  flex: 1;
}

.body__infoText > h2 {
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 10px;
}

.body__infoText > p {
  font-size: 14px;
}

.body__background {
  position: absolute;
  top: 13vh;
  right: 0;
  opacity: 0.4;
  height: 80%;
  width: 80%;
  background-color: black;
}

.body__songs {
  margin: 20px -30px;
  z-index: 1;
}

.body__songs > hr {
  border: 1px solid #636363;
  width: 96%;
  margin: 10px auto;
}

.body__icons {
  display: flex;
  align-items: center;
}

.body__icons > .MuiSvgIcon-root {
  margin-right: 20px;
}

.body__shuffle {
  font-size: 85px !important;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.body__shuffle:hover {
  transition: 100ms transform ease-in;
  transform: scale(1.08);
  color: #1db954;
}

.body__icon {
  color: #1db954;
}
